body,html {
   
    background-image: url('sukback1.jpg');
    background-size: 100% 100%;
    
    background-position: center;
    width: 100%;  
}
.glyphicon {
    color: red;
}
#mail,#github,#number,#linkedin{
    color:red;
}
footer {
    padding: 10px 0;
    backface-visibility: visible;
    color:#FFE6E6;
    bottom: 0;
    width: 100%;
}
 /*#nav{
  position: absolute;
  margin: 20px;
  width: auto;
}


.topnav {
  overflow: hidden;
  background-color: transparent;
  display: inline;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}*/
 .navbar{
     background: transparent;
     color: white;
 }
 #myNavbar{
     background-color: black;
 }

h1,h2{
   color: #FF6119; 
}

#born h4,#born p{
    display: inline;
    color: #ffffff;
}
p{
    color : #ffffff;
}
#fonts{
    font-size: 16px;
}
table{
    color: #ffffff;
}
ul{
    color: #ffffff;
}