body, html {
    background-image: url(sukback1.jpg);
    background-size: 100% 100%;
    
    width: 100%;
    background-position: center;
    max-width: 100%;
    background-repeat: no-repeat;
}
.glyphicon {
    color: red;
}
#mail,#github,#number,#linkedin{
    color:red;
}
footer {
    padding: 10px 0;
    backface-visibility: visible;
    color:#FFE6E6;
    bottom: 0;
    width: 100%;
}
.navbar{
    background: transparent;
}
.row{
    display: inline;
}
#web{
    padding-top: 20px;
}
#pyth{
    padding-left: 30px;
}
h3{
    color: #FF6119;
}
h4,p{
    color: #ffffff;
}
.img-responsive{
    width: 400px;
    height: 270px;
}